[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = "*"
uvicorn = "*"
boto3 = "*"
fastapi-sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
